<h1>All users</h1>

<div class="divTable">
  <div class="divTableBody">
    <div class="divTableRow">
      <div class="divTableCell">User</div>
      <div class="divTableCell">To-dos count</div>
    </div>
  <% @users.each do |user| %>
    <div class="divTableRow">
      <div class="divTableCell"><%= link_to user.name, user_path(user)  %></div>
      <div class="divTableCell">X</div>
    </div>
  <% end %>
  </div>
</div>

<a href="/users/new/">Add a new user</a>
