<h1>All users</h1>

<div class="divTable">
  <div class="divTableBody">
    <div class="divTableRow">
      <div class="divTableCell"><b>User</b></div>
      <div class="divTableCell"><b>To-dos count</b></div>
    </div>
  <% @users.each do |user| %>
    <div class="divTableRow">
      <div class="divTableCell"><%= link_to user.name, user_path(user)  %></div>
      <div class="divTableCell"><%= user.todo.count %></div>
    </div>
  <% end %>
  </div>
</div>

<a href="/users/new/">Add a new user</a>
