<h1><%= @user.name %></h1>

Tasks to do by <%= @user.name %>:<br>


<%= link_to "Edit", edit_user_path(@user) %> |
<%= link_to "Delete",
  user_path(@user),
  data: { method: :delete, confirm: "Are you sure?" }
%><br>
<a href="/">Go back to the main page </a>
